<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
     xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <ui:composition template="./tabMenu.xhtml">
        <ui:define name="rigth">
            <h:form>
                <h4>Diagnostico para el paciente  #{consultaBean.paciente.nombrePaciente} #{consultaBean.paciente.apellidoPaciente} </h4>
            <div class="row">   
                <p:outputLabel value="Observaciones"></p:outputLabel>
                <p:inputText value="#{consultaBean.diagnostico.observaciones}"></p:inputText>
                <p:commandButton value="Agregar Diagnostico" action="#{consultaBean.guardarDiagnostico()}"></p:commandButton>
            </div>
                </h:form>
        </ui:define>
    </ui:composition>
</html>

