<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
     xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
   <ui:composition template="./tabMenu.xhtml">
       <ui:define name="rigth">
           <!--      Parametro para el tabMenu         -->
            <f:metadata>
                <f:viewParam name="pag" value="#{beanLogin.pag}" />
                <span>#{beanLogin.pag}</span>
                </f:metadata>
           <h:form>
            <p:growl id="message" showDetail="true" />
        <!--     Data Table para pacientes         -->
           <p:dataTable id="tableStateDT"  var="paciente" class="striped" value="#{expedienteBean.pacientes}" widgetVar="carsTable" multiViewState="true"  rows="10" paginator="true"
                        emptyMessage="No se encontraron pacientes segun el criterio ingresado">
               <f:facet name="header">
            <p:outputPanel>
                <h:outputText value="Buscar:" />
                <p:inputText id="globalFilter" onkeyup="PF('carsTable').filter()" style="width:150px" placeholder="Buscar"/>
            </p:outputPanel>
        </f:facet>
               <p:column headerText="Nombre Completo"  width="20%" filterBy="#{paciente.nombrePaciente} #{paciente.apellidoPaciente}" sortBy="#{paciente.nombrePaciente}" filterMatchMode="contains">
                   <h:outputText value="#{paciente.nombrePaciente} #{paciente.apellidoPaciente}" />
                    </p:column>
               <p:column headerText="Correo Electronico"  width="20%" filterBy="#{paciente.correoPaciente}" sortBy="#{paciente.correoPaciente}" filterMatchMode="contains">
                   <h:outputText value="#{paciente.correoPaciente}" />
                    </p:column>
               <p:column headerText="Sexo"  width="20%" filterBy="#{paciente.sexo}" sortBy="#{paciente.sexo}" filterMatchMode="contains">
                   <h:outputText value="#{paciente.sexo}" />
                    </p:column>
                <p:column headerText="Correo Electronico"  width="20%" filterBy="#{paciente.correoPaciente}" sortBy="#{paciente.correoPaciente}" filterMatchMode="contains">
                   <h:outputText value="#{paciente.correoPaciente}" />
                    </p:column>
                <p:column style="width:32px;text-align: center" width="10%">
                   <h:button    title="View" value="Ver expediente" class="btn blue-grey" outcome="expediente.xhtml" >
                       <f:param name="pacId" value="#{paciente.idPersona}"></f:param>
                   </h:button>
                   <p:commandButton title="eliminar" value="Dar de baja" class="btn red" action="#{expedienteBean.darDeBaja(paciente)}"  >
                       <p:confirm header="Dar de Baja" message="¿Desea Dar de baja al paciente#{paciente.apellidoPaciente}?" icon="ui-icon-alert" />
                   </p:commandButton>
                   <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                       <p:commandButton value="Yes" type="button"  icon="ui-icon-check" styleClass="ui-confirmdialog-yes ui-priority-primary waves-effect rigth" />
        <p:commandButton value="No" type="button"  icon="ui-icon-close" styleClass="ui-confirmdialog-no ui-priority-primary waves-effect rigth"/>
    </p:confirmDialog>
        </p:column>
           </p:dataTable>
            
           </h:form>
       </ui:define>
   </ui:composition>
</html>