<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
       xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
   <ui:composition template="./tabMenu.xhtml">
       <ui:define name="rigth">
           <h:form>
           <!--      Parametro para el tabMenu         -->
            <f:metadata>
                <f:viewParam name="horarioId" value="#{horarioBean.idHorario}" />
                <f:event type="preRenderView" listener="#{horarioBean.obtenerHorario}"/>
                </f:metadata>
           <div class="row">
            <div class="col m4 offset-m2 s6">
                    <b>Dia de la semana: </b>
                    <span>#{horarioBean.horario.diaHorario}</span>
                </div>
               <br/>
               <br/>
               <br/>
               <br/>
           <div class="col m8 offset-m2 s6">
                    <b>Dia de comienzo actual: </b>
                    <p:outputLabel  value="#{horarioBean.horario.horaInicio}">
                        <f:convertDateTime timeZone="CST" type="time"  />
                    </p:outputLabel>
                    <h:inputText class="timepicker" value="#{horarioBean.horaInicio}"></h:inputText>
                </div>
           <div class="col m8 offset-m2 s6">
                    <b>Hora de Finalización actual: </b>
                    <p:outputLabel value="#{horarioBean.horario.horaFinal}">
                         <f:convertDateTime timeZone="CST" type="time"  />
                        </p:outputLabel>
                    <h:inputText class="timepicker"  value="#{horarioBean.horaFinal}"></h:inputText>
                </div>
               <div class="col m4 offset-m2 s6">
               <p:commandButton value="Modificar Institucion"  type="submit" action="#{horarioBean.updateHorario()}" styleClass="ui-priority-primary waves-effect waves-light"><i class="material-icons right"></i></p:commandButton>
          </div>
               </div>
               <script>
              $('.timepicker').pickatime({
    default: 'now', // Set default time: 'now', '1:30AM', '16:30'
    fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
    twelvehour: false, // Use AM/PM or 24-hour format
    donetext: 'OK', // text for done-button
    cleartext: 'Clear', // text for clear-button
    canceltext: 'Cancel', // Text for cancel-button
    autoclose: false, // automatic close timepicker
    ampmclickable: true, // make AM PM clickable
    aftershow: function(){} //Function for after opening timepicker
  });
          </script>
           </h:form>
       </ui:define>
   </ui:composition>
</html>

