<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    
        <ui:composition template="./template.xhtml">
            <ui:define name="title">
                Sistema de consultas
            </ui:define>
            
            <ui:define name="left_content">
                <h:form>
                    <div class="row">
                        <div class="col m6 offset-m3 s12">
                            <!-- Nombre de usuario-->  
                            <h:outputText value="Usuario: *" />
                            <p:inputText  required="true" label="Nombre de usuario" value="#{nombreUsuario}"></p:inputText>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m6 offset-m3 s12">
                            <!-- Contraseña de usuario-->
                            <h:outputText value="Contraseña *"/>
                            <p:inputText type="password" value="#{password}"/>
                        </div>
                    </div>                         
                    <div class="center">
                        <p:commandButton value="Iniciar sesion" id="ajax"  action="#{beanLogin.buttonAction(nombreUsuario,password)}" styleClass="ui-priority-primary" />              
                        <p class="center"><h:link value="Registrarse" outcome="nuevoUsuario" ></h:link></p>
                    </div>
                </h:form>
             
            </ui:define>

        </ui:composition>

    
</html>
