<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
     xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core" >
    
  <ui:composition template="./tabMenu.xhtml">
      <ui:define name="rigth">
          <h:form>
              
          <div class="row">
              <div class="col m8 offset-m2 s12">
                  <h5>*Nombre de la institución</h5>
                   <p:inputText value="#{institucionBean.nombreInstitucion}" required="true" maxlength="40"></p:inputText>
               </div>
          </div>
          <div class="row">
              <div class="col m8 offset-m2 s12">
                   <h5>Dirección:</h5>
                   <p:inputText value="#{institucionBean.direccionInstitucion}" maxlength="80"></p:inputText>
               </div>
          </div>
          <div class="row">
              <div class="col m8 offset-m2 s12">
                   <h5>*Correo electrónico:</h5>
                   <p:inputText value="#{institucionBean.correoInstitucion}" required="true" maxlength="20"></p:inputText>
               </div>
          </div>
          <div class="row">
              <div class="col m8 offset-m2 s12">
                   <h5>Teléfono:</h5>
                   <p:inputText value="#{institucionBean.telefonoInstitucion}" maxlength="9"></p:inputText>
               </div>
          </div>
               <div class="row">
                   <div class="col m8 offset-m2 s12">
                   <p:dataTable id="tableStateDT"  var="horario" class="striped" value="#{institucionBean.institucion.horarioList}" widgetVar="carsTable" multiViewState="true"  rows="10" paginator="true">
                      <f:facet name="header">
                          
                      </f:facet>
                       <p:column headerText="Dia de la semana"  width="20%" filterBy="#{horario.diaHorario}" sortBy="#{horario.diaHorario}" filterMatchMode="contains">
                           <h:outputText value="#{horario.diaHorario}" />
                    </p:column>
                       <p:column headerText="Hora de Inicio" width="10%" filterBy="#{horario.horaInicio}" sortBy="#{horario.horaInicio}" filterMatchMode="contains">
                           <h:outputText value="#{horario.horaInicio}" >
                               <f:convertDateTime timeZone="CST" type="time"  />
                           </h:outputText>
                    </p:column>
                       <p:column headerText="Hora de Cierre" width="10%" filterBy="#{horario.horaFinal}" sortBy="#{horario.horaFinal}" filterMatchMode="contains">
                           <h:outputText value="#{horario.horaFinal}"  >
                           <f:convertDateTime timeZone="CST" type="time"  />
                           </h:outputText>
                           
                    </p:column>
                       <p:column style="width:32px;text-align: center" width="10%"> 
                           <h:button    title="View" value="Ver horario" class="btn blue-grey" outcome="horario.xhtml" >
                               <f:param name="horarioId" value="#{horario.idHorario}"></f:param>
                   </h:button>
                       </p:column>
                  </p:dataTable>
                       </div>
                       </div>
              <p:commandButton value="Modificar Institucion"  type="submit" action="#{institucionBean.updateInstitucion()}" styleClass="ui-priority-primary waves-effect waves-light"><i class="material-icons right"></i></p:commandButton>
                <script>
              $('.timepicker').pickatime({
    default: 'now', // Set default time: 'now', '1:30AM', '16:30'
    fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
    twelvehour: false, // Use AM/PM or 24-hour format
    donetext: 'OK', // text for done-button
    cleartext: 'Clear', // text for clear-button
    canceltext: 'Cancel', // Text for cancel-button
    autoclose: false, // automatic close timepicker
    ampmclickable: true, // make AM PM clickable
    aftershow: function(){} //Function for after opening timepicker
  });
          </script>
          </h:form>
         
      </ui:define>
       
  </ui:composition>
</html>

