<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
       xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
  <ui:composition template="./tabMenu.xhtml">
       <ui:define name="rigth">
           <h:form>
        <!--      Parametro para el tabMenu         -->
               <f:metadata>
                <f:viewParam name="pag" value="#{beanLogin.pag}" />
                </f:metadata>
        <!--    Muestra de la informacion de la institución-->
           <div class="row">
               <div class="col m8 offset-m2 s12">
                   <h5>Nombre de la institución</h5>
                   <span>#{institucionBean.institucion.nombreInstitucion}</span>
               </div>
           </div>
           <div class="row">
               <div class="col m8 offset-m2 s12">
                   <b>Dirección: </b> 
                   <span> #{institucionBean.institucion.direccionInstitucion}</span>
               </div>
           </div>
           <div class="row">
               <div class="col m8 offset-m2 s12">
                   <b>Correo electrónico: </b> 
                   <span> #{institucionBean.institucion.correoInstitucion} </span>
               </div>
           </div>
           <div class="row">
               <div class="col m8 offset-m2 s12">
                   <b>Teléfono: </b> 
                   <span> #{institucionBean.institucion.telefonoInstitucion} </span>
               </div>
           </div>
           <div class="row">
            <div class="col offset-m2">
            <!--      Para modificar la institucion        -->
                <p:commandButton type="submit"  value="Modificar institucion" title="View" styleClass="ui-priority-primary waves-effect waves-light    "  action="#{institucionBean.modificar(institucionBean.institucion)}" ></p:commandButton>
            </div>
          </div>
               </h:form>
       </ui:define>
   </ui:composition>
    <h3 style="margin-top: 0">Basic</h3>
</html>
