<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <ui:composition template="./tabMenu.xhtml">
        <ui:define name="rigth">
            <div class="row">   
                <f:metadata>
                    <f:viewParam name="doctorId" value="#{medicoBean.medico.idMedico}" />
                    <f:event type="preRenderView" listener="#{medicoBean.obtenerMedico}"/>
                </f:metadata>
                <div class="col l8 offset-l2 m8 offset-m2 s12">
                    <h5>Información del médico</h5>
                </div>
                <div class="col l8 offset-l2 m8 offset-m2 s12">
                    <b>Nombre: </b>
                    <span>#{medicoBean.medico.nombreMedico} #{medicoBean.medico.apellidoMedico}</span>
                </div>
                <div class="col l8 offset-l2 m8 offset-m2 s12">
                    <b>Código: </b>
                    <span>#{medicoBean.medico.codigoMedico}</span>
                </div>
                <div class="col l8 offset-l2 m8 offset-m2 s12">
                    <b>Especialidad: </b>
                    <span>#{medicoBean.medico.idEspecialidad.nombreEspecialidad}</span>
                </div>
                <div class="col l8 offset-l2 m8 offset-m2 s12">
                    <b>Correo: </b>
                    <span>#{medicoBean.medico.correoMedico}</span>
                </div>
            </div>
       </ui:define>
    </ui:composition>
</html>

