<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
     xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
   <ui:composition template="./tabMenu.xhtml">
       <ui:define name="rigth">
           <!--      Parametro para el tabMenu         -->
            <f:metadata>
                <f:viewParam name="pag" value="#{beanLogin.pag}" />
                <span>#{beanLogin.pag}</span>
                </f:metadata>
           <h:form>
                  <p:growl id="message" showDetail="true" />
        <!--     Data Table para medico         -->
           <p:dataTable id="tableStateDT"  var="medico" class="striped" value="#{medicoBean.medicos}" widgetVar="carsTable" multiViewState="true"  rows="10" paginator="true"
                        emptyMessage="No se encontraron medicos segun el criterio ingresado">
               <f:facet name="header">
            <p:outputPanel>
                <h:outputText value="Buscar:" />
                <p:inputText id="globalFilter" onkeyup="PF('carsTable').filter()" style="width:150px" placeholder="Buscar"/>
            </p:outputPanel>
        </f:facet>
               <p:column headerText="Nombre Completo"  width="20%" filterBy="#{medico.nombreMedico} #{medico.apellidoMedico}" sortBy="#{medico.nombreMedico}" filterMatchMode="contains">
                   <h:outputText value="#{medico.nombreMedico} #{medico.apellidoMedico}" />
                    </p:column>
               <p:column headerText="especialidad" width="10%" filterBy="#{medico.idEspecialidad}" sortBy="#{medico.idEspecialidad.nombreEspecialidad}" filterMatchMode="contains">
                   <h:outputText value="#{medico.idEspecialidad.nombreEspecialidad}" />
                    </p:column>
               <p:column style="width:32px;text-align: center" width="10%">
                   <h:button    title="View" value="Ver medico" class="btn blue-grey" outcome="medico.xhtml" >
                       <f:param name="doctorId" value="#{medico.idMedico}"></f:param>
                   </h:button>
                   <p:commandButton title="eliminar" value="Dar de baja" class="btn red" action="#{medicoBean.darDeBaja(medico)}"  >
                       <p:confirm header="Dar de Baja" message="¿Desea Dar de baja al medico:#{medico.nombreMedico}?" icon="ui-icon-alert" />
                   </p:commandButton>
                   <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                       <p:commandButton value="Yes" type="button"  icon="ui-icon-check" styleClass="ui-confirmdialog-yes ui-priority-primary waves-effect rigth" />
        <p:commandButton value="No" type="button"  icon="ui-icon-close" styleClass="ui-confirmdialog-no ui-priority-primary waves-effect rigth"/>
    </p:confirmDialog>
        </p:column>
            </p:dataTable>
                <p:commandButton value="Agregar doctor" action="#{medicoBean.nuevo}" styleClass="ui-priority-primary waves-effect rigth" >
                </p:commandButton>
               </h:form>
          
       </ui:define>
   </ui:composition>
</html>

