<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
     <ui:composition template="./template.xhtml">
            <ui:define name="title">
                Sistema de consultas
            </ui:define>
         <ui:define name="left_content">
              <h:form>
                  <div class="container center">
                   <h4 class="center">Registro de nuevo Paciente</h4>
                   <p:steps class="col s6 offset-s6" activeIndex="0">
                                <p:menuitem value="Informacion de Usuario" class="row center" />
                                 <p:menuitem value="Informacion personal" class="row center" />
                        </p:steps>
                   </div>
<style type="text/css">
.ui-steps .ui-steps-item {
    width: 24%;
}
 
.ui-state-highlight {
    text-shadow: none !important;
}
 
.ui-steps.custom {
    margin-bottom: 30px;
}
 
.ui-steps.custom .ui-steps-item .ui-menuitem-link {
    height: 10px;
    padding: 0 1em;
}
 
.ui-steps.custom .ui-steps-item .ui-steps-number {
    background-color: #0081c2;
    color: #FFFFFF;
    display: inline-block;
    width: 30px;
    border-radius: 10px;
    margin-top: -10px;
    margin-bottom: 10px;
}
 
.ui-steps.custom .ui-steps-item.ui-state-highlight .ui-steps-title {
    color: #555;
}
</style>
                  
                  
                  
                  <div class="row">
                      <div class="col m6 offset-m3 s12">
                            <!-- Nombre de usuario-->  
                            <h:outputText value="Usuario: *" />
                            <p:inputText  required="true" label="Nombre de usuario" value="#{nombreUsuario}"></p:inputText>
                        </div>
                      <div class="row">
                        <div class="col m6 offset-m3 s12">
                            <!-- Contraseña de usuario-->
                            <h:outputText value="Contraseña *"/>
                            <p:password  label="Contraseña" value="#{password}" feedback="true"/>
                        </div>
                    </div>
                      <div class="row">
                        <div class="col m6 offset-m3 s12">
                            <!-- Contraseña de usuario-->
                            <h:outputText value="Digite otra vez su contraseña *"/>
                            <p:password value="#{passwordRepeat}" label="Repeticion de contraseña" />
                        </div>
                    </div>
                      <div class="center">
                         
                        <p:commandButton value="Registrar Usuarios" id="ajax"  action="#{beanLogin.registrar(nombreUsuario,password,passwordRepeat)}" styleClass="ui-priority-primary" />              
                        <p:link value="Volver a autenticarse" id="volver" outcome="index"></p:link>
                    </div>
                  </div>
                   
              </h:form>
             
         </ui:define>
     </ui:composition>
</html>

