<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:p="http://primefaces.org/ui" xmlns:f="http://xmlns.jcp.org/jsf/core">
<ui:composition template="./tabMenu.xhtml">
  <ui:define name="rigth">
    <h:form>
      <p:layoutUnit position="north">
        <p:panel id="panel" header="Nuevo Medico" style="margin-bottom:10px;">
          <div class="row">
            <div class="col m8 offset-m2 s12">
              <!--    Codigo del Medico-->
              <h:outputLabel for="codigo" value="Codigo de medico" />
              <h:inputText id="codigo" value="#{medicoBean.medico.codigoMedico}"></h:inputText>
              <!--    Nombre del Medico-->
              <h:outputLabel value="*Nombre del medico" />
              <h:inputText id="nombre" value="#{medicoBean.medico.nombreMedico}" required="true" maxlength="30"></h:inputText>
              <p:message for="nombre" />
              <!--    Apellido del medico            -->
              <h:outputLabel value="*Apellido de medico" />
              <h:inputText id="apellido" value="#{medicoBean.medico.apellidoMedico}" required="true" maxlength="30"></h:inputText>
              <p:message for="apellido" />
              <!--    Correo del medico        -->
                  <div class="row">
                    <div class="col m8 offset-m2 s12">
                      <h:outputLabel value="*Correo electronico" />
                      <h:inputText id="correo" value="#{medicoBean.medico.correoMedico}" required="true" maxlength="25"></h:inputText>
                      <p:message for="correo" />
                    </div>
                  </div>
              <!--    Numero de telefono del Medico-->
              <h:outputLabel value="Numero de telefono" />
              <h:inputText id="telefono" value="#{medicoBean.medico.telefonoMedico}" maxlength="9"></h:inputText>
              <!--    Direccion del medico        -->
              <h:outputLabel value="Direccion" />
              <p:inputTextarea rows="5" cols="30" counter="display" maxlength="80" counterTemplate="{0} characters remaining." autoResize="false" />
              <!--       Especialidades de disponibles     -->
              <h:outputText id="display" value="*Especialidad" />
              <h:selectOneMenu id="especialidad" value="#{medicoBean.prueba}" class="browser-default" required="true">
                  <f:selectItems  value="#{medicoBean.especialidades}" var="especialidad"  itemLabel="#{especialidad.nombreEspecialidad}" itemValue="#{especialidad.idEspecialidad}"  ></f:selectItems>
               
                <f:converter converterId="javax.faces.Integer"></f:converter>
              </h:selectOneMenu>
              <h:message for="especialidad"/>
              <!--    Sexo del Medico   -->
              <h:outputText id="txt3" value="*Género" />
              <h:selectOneMenu id="sexo" value="#{medicoBean.medico.sexo}" required="true" label="Sexo" class="browser-default">
                <f:selectItem itemLabel="Femenino" itemValue="M" />
                <f:selectItem itemLabel="Masculino" itemValue="F" />
              </h:selectOneMenu>
              <p:message for="sexo" />
              <!--    Contraseña del medico -->
              <h:outputLabel value="*Nombre usuario del medico" />
              <h:inputText id="nombreUsuario" value="#{medicoBean.usuario.nombreUsuario}" required="true" maxlength="20"></h:inputText>
              <div class="row">
                        <div class="col m6 offset-m3 s12">
                            <!-- Contraseña de usuario-->
                            <h:outputText value="*Contraseña" />
                            <p:password id="contrasenia" label="Contraseña" value="#{medicoBean.usuario.contrasenia}" feedback="true" required="true" maxlength="50"/>
                        </div>
                   <p:message for="contrasenia" />
                    </div>
                    <!--      Repeticion de contraseña del medico        -->
              <div class="row">
                        <div class="col m6 offset-m3 s12">
                            <!-- Contraseña de usuario-->
                            <h:outputText value="*Digite otra vez la contraseña"/>
                            <p:password id="contraseniaId" value="#{medicoBean.repeatContrasenia}" label="Repeticion de contraseña" required="true" maxlength="50"/>
                            <p:message for="contraseniaId"/>
                        </div>
                    </div>
              <!--      Boton para guardar    -->
              <h:commandButton value="Guardar medico" action="#{medicoBean.agregarMedico(medicoBean.prueba)}" styleClass="ui-priority-primary waves-effect waves-light"></h:commandButton>
            </div>
          </div>          
        </p:panel>
      </p:layoutUnit>
    </h:form>
  </ui:define>
</ui:composition>
    <script>
         $(document).ready(function() {
    $('select').material_select();
  });
    </script>

</html>
