<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <ui:composition template="./tabMenu.xhtml">
        <ui:define name="rigth">
            <h:form >
      <p:layoutUnit position="north">
                    <p:panel id="panel" header="Nuevo Tratamiento para #{tratamientoBean.paciente.nombrePaciente} #{tratamientoBean.paciente.apellidoPaciente}" style="margin-bottom:10px;">
            <div class="row">
                
                <p:outputLabel id="display" value="Observaciones"></p:outputLabel>
                <p:inputTextarea rows="5" cols="30" counter="display" maxlength="100" value="#{tratamientoBean.tratamiento.indicaciones}" counterTemplate="{0} characters remaining." autoResize="false" />
            <!--      Lectura          -->
                <p:outputLabel value="Lectura"></p:outputLabel>
                <h:inputText value="#{tratamientoBean.lectura}" maxlength="100"></h:inputText> 
                <!--   Diagnosticos            -->
                 <p:outputLabel value="Agregar Diagnostico" ></p:outputLabel>
                 <p:commandButton actionListener="#{tratamientoBean.agregarSintoma}" value="+" styleClass="ui-priority-primary  waves-light" process="@this,panel" update="panel"></p:commandButton>
                 <ui:param name="max" value="5"/>
                 <ui:repeat var="diagnosticos" value="#{tratamientoBean.diagnosticos}"  >
                     <div class="col m8 offset-m2 s12">
                    <tr><td>Nuevo Diagnostico</td></tr>
                    <h:inputText  value="#{diagnosticos.observaciones}" required="true" maxlength="100"></h:inputText>
                    </div>
                    </ui:repeat>
            </div>
                        <img id="image" class="materialboxed" width="65%" src=""></img>
          <div class="file-field input-field">
                                <div class="btn">
                            <span>Agregar Archivos</span>
                            <input type="file" onchange="agregarImagen()"/>
                                </div>
                            <div class="file-path-wrapper">
                            <input class="file-path validate" type="text"/>
                                </div>
                                    </div>
                        
        </p:panel>
          <input id="idExamen" name="examen" type="hidden"></input>
          <p:commandButton value="Agregar Tratamiento" action="#{tratamientoBean.guardarTratamiento}" styleClass="ui-priority-primary waves-effect waves-light">
                 <f:param id="idExamen"  value="document.getElementById('examen').value"></f:param>
                </p:commandButton>
          
                </p:layoutUnit>
                  <h:outputScript library="js"  name="tratamiento.js"></h:outputScript>
            </h:form>
        </ui:define>
    </ui:composition>
    
</html>

