<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:p="http://primefaces.org/ui" xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:body>
        <ui:composition template="./template.xhtml">
            <ui:define name="title">
              Sistema de consultas
            </ui:define>
            <ui:define name="left_content">
              <h:form>
                <div class="container center">
                  <h4 class="center">Registro de nuevo Paciente</h4>
                  <p:steps class="col s6 offset-s6" activeIndex="1">
                    <p:menuitem value="Informacion de Usuario" class="row center" />
                    <p:menuitem value="Informacion personal" class="row center" />
                  </p:steps>
                </div>

                <p:panel id="panel" style="margin-bottom:10px;">
                  <div class="row">
                    <div class="col m8 offset-m2 s12">
                      <!--    Nombre del paciente  -->
                      <h:outputLabel value="*Nombre del paciente" />
                      <h:inputText id="nombre" value="#{beanLogin.nombre}" maxlength="30" required="true"></h:inputText>
                    </div>
                  </div>
                  <!--    Apellido del paciente            -->
                  <div class="row">
                    <div class="col m8 offset-m2 s12">
                      <h:outputLabel value="*Apellido de paciente" />
                      <h:inputText id="apellido" value="#{beanLogin.apellido}" maxlength="30" required="true"></h:inputText>
                    </div>
                  </div>

                  <!--    Numero de telefono del paciente        -->
                  <div class="row">
                    <div class="col m8 offset-m2 s12">
                      <h:outputLabel value="Numero de telefono" />
                      <h:inputText id="telefono" value="#{beanLogin.telefono}" maxlength="9"></h:inputText>
                    </div>
                  </div>
                  <!--    Correo del paciente        -->
                  <div class="row">
                    <div class="col m8 offset-m2 s12">
                      <h:outputLabel value="*Correo electronico" />
                      <h:inputText id="correo" value="#{beanLogin.correo}" maxlength="25" required="true"></h:inputText>
                    </div>
                  </div>
                  <!--    Direccion del paciente        -->
                  <div class="row">
                    <div class="col m8 offset-m2 s12">
                      <h:outputLabel value="Direccion" />
                      <p:inputTextarea rows="5" cols="30" counter="display" value="#{beanLogin.direccion}" maxlength="80" autoResize="false"></p:inputTextarea>
                      <h:outputText id="display" value="Especialidad" />
                    </div>

                  </div>

                  <!--    Sexo del Paciente   -->
                  <div class="row">
                    <div class="col m8 offset-m2 s12">
                      <h:outputText id="genero" value="*Género" />
                      <h:selectOneMenu id="txt3" value="#{beanLogin.sexo}" required="true" label="Sexo" class="browser-default">
                        <f:selectItem itemLabel="Femenino" itemValue="F" />
                        <f:selectItem itemLabel="Masculino" itemValue="M" />
                      </h:selectOneMenu>
                    </div>
                  </div>
                  <!--    Estado Civil   -->
                  <div class="row">
                    <div class="col m8 offset-m2 s12">
                      <h:outputText id="estadoC" value="Estado Civil" />
                      <h:selectOneMenu id="estado" value="#{beanLogin.estadoC}" required="true" label="Sexo" class="browser-default">
                        <f:selectItem itemLabel="Soltero/a" itemValue="Soltero/a" />
                        <f:selectItem itemLabel="Casado/a" itemValue="Casado/a" />
                        <f:selectItem itemLabel="Viudo/a" itemValue="Viudo/a" />
                      </h:selectOneMenu>
                    </div>
                  </div>
                  <!--      Boton para guardar    -->
                  <div class="row">
                    <div class="col m8 offset-m2 s12">
                      <p:commandButton value="Seguir con el registro" id="ajax" action="#{beanLogin.guardarPersona()}" styleClass="ui-priority-primary"></p:commandButton>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col m8 offset-m2 s12">
                      <p:link value="Volver a autenticarse" id="volver" outcome="index"></p:link>
                    </div>
                  </div>
                </p:panel>
              </h:form>
            </ui:define>
          </ui:composition>
    </h:body>



</html>
