<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui">
     
    <h:head>
        <title>Cars</title>
        <style type="text/css">
            .ui-widget {
                font-size: 90%;
            }
        </style>
    </h:head>
     
    <h:body>
        <i id="customheader" class="fa fa-fw fa-car" style="display:none"></i>
 
        <p:dataTable var="car" >
            <p:column headerText="Id">
                <h:outputText  />
            </p:column>
 
            <p:column headerText="Year">
                <h:outputText />
            </p:column>
 
            <p:column headerText="Brand">
                <h:outputText />
            </p:column>
 
            <p:column headerText="Color">
                <h:outputText  />
            </p:column>
        </p:dataTable>
    </h:body>
     
</html>