<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <ui:composition template="./tabMenu.xhtml">
        <ui:define name="rigth">
            <div class="row">   
                <f:metadata>
                    <f:viewParam name="tratamientoId" value="#{tratamientoBean.tratamiento.idTratamiento}" />
                    <f:event type="preRenderView" listener="#{tratamientoBean.obtenerTratamiento}"/>
                </f:metadata>
                 
                <div class="col l8 offset-l2 m8 offset-m2 s12">
                    <b>Nombre de tratamiento: </b>
                    <span>#{tratamientoBean.tratamiento.indicaciones}</span>
                </div>
                <div class="col l8 offset-l2 m8 offset-m2 s12">
                    <h5>Información de el Resultado</h5>
                </div>
                <ui:param name="max" value="5"/>
                <ui:repeat var="resultado" value="#{tratamientoBean.tratamiento.resultadoList}"  >
                     <div class="col m8 offset-m2 s12">
                    <tr><td>Descripcion del resultado:</td></tr>
                    <h:outputLabel  value="#{resultado.lectura}" ></h:outputLabel>
                    </div>
                    <div class="col m8 offset-m2 s12">
                        <tr><td>Examen:</td></tr>
                        <p:graphicImage class="materialboxed" value="#{resultado.idExamen.nombreExamen}"></p:graphicImage>
                        <h:graphicImage url = "./resources/imagenes/examenes#{resultado.idExamen.nombreExamen}"/>
                    </div>
                    </ui:repeat>
            </div>
            <h:form>
                
            </h:form>
        </ui:define>
    </ui:composition>
</html>

