<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
   <ui:composition template="./tabMenu.xhtml">
       
       <ui:define name="rigth">
           
               <p:growl id="growl" showDetail="true" />
                <!--      Parametro para el tabMenu         -->
               <f:metadata>
                <f:viewParam name="pag" value="#{beanLogin.pag}" />
                </f:metadata>
                <div class="switch">
                    <label>
                          No disponible
                        <input type="checkbox" id="switch"/>
                        <span class="lever"></span>
                         Disponible
                     </label>
                </div>
                <!-- Cerrar Conexion -->
                <h:form>
                <div class="col m4 s4">
                     <input type="hidden" id="expediente" name="exp123" value="que paso? "  ></input>
                     <p:commandButton id="btnConsulta" value="Terminar Consulta" action="#{tratamientoBean.terminarConsulta}" styleClass="ui-priority-primary waves-effect waves-light" >
                        <f:param name="id"  value="document.getElementById('expediente').value"></f:param>
                    </p:commandButton >
                    <a id="cancelar" class="btn red right">Cancelar Consulta</a>
                            </div>
                </h:form>
                    <ul class="pages">
                    <li class="chat page">
                        <div class="chatArea">
                        <ul class="messages"></ul>
                         </div>
                        <div class="row">  
                            <input type="hidden" id="user" value="#{beanLogin.getUsuarioLogeado()}"></input>
                            <input type="hidden" id="rol" value="#{beanLogin.usuario.idRol.nombreRol}"></input>
                            <input type="hidden" id="especialidad" value="#{beanLogin.medico.idEspecialidad.nombreEspecialidad}"></input>
                            <input type="hidden" id="expediente" name="exp123" value="" ></input>
                            <div class="col m4 s4">
                                <input class="inputMessage" placeholder="Digitar..."/>
                                <a id="butt"  value=">" class="btn">></a>
                            </div>
                            <div class="col m4 s2">
                                <a id="obtMedicos" class="btn deep-purple disabled">Agregar Medico a conversación</a>
                                
                            </div>
                            <div class="col  s6">
                            </div>
                            <!-- Panel para la mensajeria -->
                                <div class="col m6 s6">
                                <div class="card">
                                    <div >
                                        <span class="card blue-text accent-4">Consulta</span>
                                    </div>
                 <!-- Modal para elegir al doctor auxiliar -->
                    <div class="modal-content">
           <div id="modalIng" class="modal"   >
         <div class="section no-pad-bot #263238 blue-grey darken-4" id="ini">
            <div class="container ">
                 <h4 class="center-align white-text bold">Elija al doctor auxiliar</h4>
                 <div id="doctores">
                 
                     </div>
                 <a id="agregarMedico" class="btn">Agregar a conversación</a>
                 <div class="row center">
                 </div>
                 </div>
            </div>
        </div>
       
    </div>
                                    <h:form>
                        <p:commandLink  oncomplete="window.open('expediente.xhtml?pacId='+document.getElementById('expediente').value)">Ver Expediente de Paciente</p:commandLink>
                        </h:form>
                        <div class="card-content contenido">
                            <p class="red-text center">Bienvenido.</p>
                        </div>
                                    <div class="expediente">
                                    </div>
                                </div>    
                                </div>
                        </div>
                        </li>
                </ul>
       <h:outputScript library="js"  name="chatMedico.js"></h:outputScript>
       
       </ui:define>
   </ui:composition>
   
</html>

