<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
   <ui:composition template="./tabMenu.xhtml">
       
       <ui:define name="rigth">
           <h:form>
                <!--      Parametro para el tabMenu         -->
               <f:metadata>
                <f:viewParam name="pag" value="#{beanLogin.pag}" />
                </f:metadata>
                <a id="initChat"  class="btn" >Iniciar Chat</a>
                    
               
                <ul class="pages">
                    <li class="chat page">
                        <div class="chatArea">
                        <ul class="messages"></ul>
                         </div>
                        <div class="row">  
                            <input type="hidden" id="user" value="#{beanLogin.getUsuarioLogeado()}"></input>
                            <input type="hidden" id="rol" value="#{beanLogin.usuario.idRol.nombreRol}"></input>
                            <input type="hidden" id="idExpediente" value="#{beanLogin.paciente.idPersona}"></input>
                            <div class="col m6 s6">
                                <input class="inputMessage" placeholder="Digitar..."/>
                                <a id="butt"  value=">" class="btn">></a>
                                <img id="image" class="materialboxed" width="65%" src=""></img>
                                <div class="file-field input-field">
                                <div class="btn">
                            <span>Agregar Archivos</span>
                            <input type="file" onchange="agregarImagen()"/>
                                </div>
                            <div class="file-path-wrapper">
                            <input class="file-path validate" type="text"/>
                                </div>
                                    </div>
                            </div>
                         
                          
                            <!-- Panel para la mensajeria -->
                                <div class="col m6 s6">
                                <div class="card">
                                    
                                    <div >
                                        <span class="card blue-text accent-2">Consulta</span>
                                    </div>
                        <div class="card-content contenido">
                            <p class="red-text center">Bienvenido.</p>
                        </div>
                                </div>    
                                </div>
                        </div>
                        </li>
                </ul>
        <!-- Modal para elegir al doctor auxiliar -->
                    <div class="modal-content">
           <div id="modalIng" class="modal"   >
         <div class="section no-pad-bot #263238 blue-grey darken-4" id="ini">
            <div class="container ">
                 <h4 class="center-align white-text bold">Elija al doctor para la consulta</h4>
                 <div id="doctores">
                 
                     </div>
                 <a id="agregarMedico" class="btn">Agregar a conversación</a>
                 <div class="row center">
                 </div>
                 </div>
            </div>
        </div>
       
    </div>
       <h:outputScript library="js"  name="chatPaciente.js"></h:outputScript>
           </h:form>
          
       </ui:define>
  
   </ui:composition>
    
    
</html>

