<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core" 
      xmlns:f="http://xmlns.jcp.org/jsf/core">
     <ui:composition template="./template.xhtml">
        <ui:define name="title">
		Sistema de consultas
	</ui:define>
            
       <ui:define name="left_content">
           <h:form>
  <!-- tab menu  -->
           
  <p:tabMenu activeIndex="#{beanLogin.pag}">  
      <c:if test="#{beanLogin.usuario.rol==2}">
      <p:menuitem  value="Medicos" outcome="/medicos.xhtml" icon="ui-icon-star" > <f:param name="pag" value="0" /></p:menuitem>
      <p:menuitem value="Institucion" outcome="/institucion.xhtml" icon="ui-icon-wrench"  > <f:param name="pag" value="1" /></p:menuitem>      
      </c:if>
      <c:if test="#{beanLogin.usuario.rol==1}">
      <p:menuitem value="Sala de consultas para medicos" outcome="/salaConsulta.xhtml" icon="ui-icon-wrench"  > <f:param name="pag" value="2" /></p:menuitem> 
      </c:if>
      <c:if test="#{beanLogin.usuario.rol==3}">
      <p:menuitem value="Inicio" outcome="/menu.xhtml" icon="ui-icon-wrench"  > <f:param name="pag" value="4" /></p:menuitem> 
      </c:if>
      <c:if test="#{beanLogin.usuario.rol==3}">
      <p:menuitem value="Sala de consultas para Pacientes" outcome="/salaConsultaPaciente.xhtml" icon="ui-icon-wrench"  > <f:param name="pag" value="3" /></p:menuitem> 
      </c:if>
      
      <c:if test="#{beanLogin.usuario.rol==1}">
          <p:menuitem value="Expedientes" outcome="/expedientes.xhtml" icon="ui-icon-wrench"  > <f:param name="pag" value="4" /></p:menuitem> 
      </c:if>
  </p:tabMenu>
   
            
       
          <ui:insert name="rigth">
              <c:if test="#{beanLogin.usuario.rol==3}">
              <div class="row">   
                
                    <f:metadata>
                        <f:event type="preRenderView" listener="#{expedienteBean.setPaciente(beanLogin.paciente)}"/>
                        <f:event type="preRenderView" listener="#{expedienteBean.obtenerExpediente()}"/>
      </f:metadata>
                    
                
                <div class="col l8 offset-l2 m8 offset-m2 s12">
                    <h5>Información del Expediente</h5>
                </div>
                <div class="col l8 offset-l2 m8 offset-m2 s12">
                    <b>Nombre: </b>
                    <span>#{expedienteBean.paciente.nombrePaciente} #{expedienteBean.paciente.apellidoPaciente}</span>
                </div>
                <div class="col l8 offset-l2 m8 offset-m2 s12">
                    <b>Código: </b>
                    <span>#{expedienteBean.paciente.idExpediente.numeroExpediente}</span>
                </div>
                <div class="col l8 offset-l2 m8 offset-m2 s12">
                    <b>Correo: </b>
                    <span>#{expedienteBean.paciente.correoPaciente}</span>
                </div>
                <div class="col l8 offset-l2 m8 offset-m2 s12">
                    <b>Telefono del paciente: </b>
                    <span>#{expedienteBean.paciente.telefonoPaciente}</span>
                </div>
                <div class="col l8 offset-l2 m8 offset-m2 s12">
                    <b>Direccion del paciente: </b>
                    <span>#{expedienteBean.paciente.direccionPaciente}</span>
                </div>
                <div class="col l8 offset-l2 m8 offset-m2 s12">
                    <b>Género del paciente: </b>
                    <span>#{expedienteBean.paciente.sexo}</span>
                </div>
                <div class="col l8 offset-l2 m8 offset-m2 s12">
                    <b>Estado Civil: </b>
                    <span>#{expedienteBean.paciente.estadoCivil}</span>
                </div>
            </div>
                 <!--     Data Table para diagnosticos         -->
                 <p:dataTable id="tableStateDT"  var="tratamiento" class="striped" value="#{expedienteBean.paciente.idExpediente.tratamientoSet}" widgetVar="carsTable" multiViewState="true"  rows="10" paginator="true"
                        emptyMessage="No se encontraron tratamientos segun el criterio ingresado">
               <f:facet name="header">
            <p:outputPanel>
                <h:outputText value="Buscar:" />
                <p:inputText id="globalFilter" onkeyup="PF('carsTable').filter()" style="width:150px" placeholder="Buscar"/>
            </p:outputPanel>
        </f:facet>
                     <p:column headerText="Numero"  width="5%" filterBy="#{tratamiento.idTratamiento}" sortBy="#{tratamiento.idTratamiento}" filterMatchMode="contains">
                         <h:outputText value="#{tratamiento.idTratamiento}" />
                    </p:column>
                     <p:column headerText="descripcion"  width="20%" filterBy="#{tratamiento.indicaciones}" sortBy="#{tratamiento.indicaciones}" filterMatchMode="contains">
                         <h:outputText value="#{tratamiento.indicaciones}" />
                    </p:column>
                     <p:column style="width:32px;text-align: center" width="10%">
                         <h:button    title="View" value="Ver diagnosticos" class="btn blue-grey" outcome="tratamiento.xhtml" >
                             <f:param name="tratamientoId" value="#{tratamiento.idTratamiento}"></f:param>
                         </h:button>
                          <h:button    title="View" value="Ver Resultados" class="btn blue-grey" outcome="resultados.xhtml" >
                             <f:param name="tratamientoId" value="#{tratamiento.idTratamiento}"></f:param>
                         </h:button>
                     </p:column>
                     
            </p:dataTable>
        </c:if>
    </ui:insert>
           </h:form>
           </ui:define>
   </ui:composition>
   
    
    
</html>

