<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:p="http://primefaces.org/ui">
<h:head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <h:outputStylesheet library="css" name="default.css" />
  <h:outputStylesheet library="css" name="cssLayout.css" />
  <h:outputStylesheet name="/css/materialize.css" />
  <h:outputStylesheet name="/css/materialize.min.css" />
  <h:outputStylesheet name="/css/sweetalert.css" />
  <h:outputScript library="js" name="sweetAlert/sweetalert.min.js"></h:outputScript>
  <h:outputScript library="js" name="materialize/materialize.js"></h:outputScript>
  <h:outputScript library="js" name="materialize/materialize_1.js"></h:outputScript>
  <h:outputScript library="js" name="materialize/materialize.min.js"></h:outputScript>
  <h:outputScript library="js" name="materialize/materialize.min_1.js"></h:outputScript>
  <link rel="shortcut icon" href="resources/imagenes/logo/logo.png" type="image/x-icon"></link>
  <title>
    <ui:insert name="title" />
  </title>
</h:head>
<h:body>
  <div id="top" class="top">
    <ui:insert name="top">
      <h:form>
        <p:layoutUnit position="west">
          <div class="row">

            <div class="col l3">
              <h:graphicImage url="./resources/imagenes/logo/logo.png" class="logo"></h:graphicImage>
            </div>
            <div class="col l5 center">
              <div>
                <h5>Sistema de Consultas</h5></div>
            </div>
            <div class="col l4" id="datosUser">
                <c:if test="#{beanLogin.usuario.idRol.idRol==1}">
                    <div class="col m3 offset-m3 s12">Nombre : #{beanLogin.medico.nombreMedico} #{beanLogin.medico.apellidoMedico}</div>
                </c:if>
                <c:if test="#{beanLogin.usuario.idRol.idRol==3}">
                    <div class="col m3 offset-m3 s12">Nombre : #{beanLogin.paciente.nombrePaciente} #{beanLogin.paciente.apellidoPaciente}</div>
                </c:if>
                <c:if test="#{beanLogin.usuario!=null}">
                <div class="col m3 s12"> #{beanLogin.getUsuarioLogeado()}</div>
                <div class="col m3 s12">
                  <p:commandButton value="Cerrar sesion" id="ajax" styleClass="ui-priority-primary" action="#{beanLogin.outLogin()}" />
                </div>
              </c:if>
            </div>
          </div>
        </p:layoutUnit>
        <p:layoutUnit position="center"></p:layoutUnit>
      </h:form>
    </ui:insert>
  </div>
  <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />
  <ui:insert class="left" name="left_content">
  </ui:insert>
  <div id="content" class="left_content">
    <ui:insert class="center" name="center_content">
    </ui:insert>
  </div>
</h:body>
</html>
