<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
       xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <ui:composition template="./tabMenu.xhtml">
        <ui:define name="rigth">
            <div class="row">   
                <f:metadata>
                    <f:viewParam name="tratamientoId" value="#{tratamientoBean.tratamiento.idTratamiento}" />
                    <f:event type="preRenderView" listener="#{tratamientoBean.obtenerTratamiento}"/>
                </f:metadata>
                
                <div class="col l8 offset-l2 m8 offset-m2 s12">
                    <b>Nombre de tratamiento: </b>
                    <span>#{tratamientoBean.tratamiento.indicaciones}</span>
                </div>
                <div class="col l8 offset-l2 m8 offset-m2 s12">
                    <h5>Información de los diagnosticos</h5>
                </div>
                <ui:param name="max" value="5"/>
                <ui:repeat var="diagnosticos" value="#{tratamientoBean.tratamiento.diagnosticosList}"  >
                     <div class="col m8 offset-m2 s12">
                    <tr><td>Descripcion del diagnostico:</td></tr>
                    <h:outputLabel  value="#{diagnosticos.observaciones}" ></h:outputLabel>
                    </div>
                    </ui:repeat>
            </div>
            <h:form id="panel">
                <!--   Agregar Diagnostico            -->
                 <p:outputLabel value="Agregar Diagnostico" ></p:outputLabel>
                 <p:commandButton actionListener="#{tratamientoBean.agregarSintoma}" value="+" styleClass="ui-priority-primary  waves-light" process="@this,panel" update="panel"></p:commandButton>
                
                
             <ui:param name="max" value="5"/>
                 <ui:repeat var="diagnosticos" value="#{tratamientoBean.diagnosticos}"  >
                     <div class="col m8 offset-m2 s12">
                    <tr><td>Nuevo Diagnostico</td></tr>
                    <h:inputText  value="#{diagnosticos.observaciones}" required="true" maxlength="100"></h:inputText>
                    </div>
                    </ui:repeat>
         <p:commandButton value="Agregar nuevos Diagnosticos" action="#{tratamientoBean.guardarDiagnosticos(tratamientoBean.tratamiento)}"></p:commandButton>

             </h:form>
        </ui:define>
    </ui:composition>
</html>

