body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  12px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

a:link, a:visited {
    color: #000000;
    font-weight : bold;
    text-decoration: none;
}

a:link:hover, a:visited:hover  {
    color: #000000;
    font-weight : bold;
    text-decoration : underline;
}

.panel-grupo {
    background-color: #ffffff;
    height: 550px;
}

#datosUser{
    margin-top: 25px;
}
.btn-nuevo {
    float: left;
}

.logo{
    width: 50px;
}

.ui-steps .ui-steps-item{
    width: 50%!important;
    height: 70px!important;
    margin-bottom: 20px!important;
}

span.ui-steps-number{
    font-size: 125%!important;
}